@using Application.Data.Models
<!DOCTYPE html>
<html lang="en" class="uk-theme-slate">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Beestje op je Feestje</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/franken-ui@1.1.0/dist/css/core.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico"/>
</head>
<body>
<div class="spinner" uk-spinner="ratio: 4"></div>
<header class="uk-position-relative uk-position-z-index-high">
    <nav class="uk-navbar-container py-2">
        <div class="uk-container uk-container-large uk-margin-auto">
            <div uk-navbar>
                <div class="uk-navbar-left">
                    <a class="uk-navbar-item uk-logo" asp-controller="Home" asp-action="Index">
                        <img src="~/img/logo.svg" class="h-12" alt="Beestje op je Feestje"/>
                    </a>
                </div>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="@(Context.Request.Path == "/home" || Context.Request.Path == "/" ? "uk-active" : "")">
                                <a asp-action="Index" asp-controller="Home">Home</a>
                            </li>
                        }

                        @if (User.IsInRole(UserRole.Customer.ToString()))
                        {
                            <li class="@(Context.Request.Path == "/myBookings" ? "uk-active" : "")">
                                <a asp-action="Bookings" asp-controller="Account">Mijn boekingen</a>
                            </li>
                        }
                        else if (User.IsInRole(UserRole.Admin.ToString()))
                        {
                            <li class="@(Context.Request.Path.StartsWithSegments("/animals/") ? "uk-active" : "")">
                                <a asp-action="Index" asp-controller="Animal">Beestjes beheer <span uk-navbar-parent-icon></span></a>
                                <div class="uk-navbar-dropdown">
                                    <ul class="uk-nav uk-navbar-dropdown-nav">
                                        <li>
                                            <a asp-action="Index" asp-controller="Animal" class="uk-flex-column !items-start">
                                                <p class="uk-text-bold">Overzicht</p>
                                                <p class="uk-text-meta">Bekijk een overzicht van alle beestjes</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a asp-action="Create" asp-controller="Animal" class="uk-flex-column !items-start">
                                                <p class="uk-text-bold">Nieuw beestje</p>
                                                <p class="uk-text-meta">Voeg een nieuw beestje toe, zodat klanten deze kunnen boeken!</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="@(Context.Request.Path.StartsWithSegments("/animals/") ? "uk-active" : "")">
                                <a asp-action="Create" asp-controller="Account">Klant toevoegen</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <div>
                            <form asp-action="Logout" asp-controller="Auth" method="post">
                                <a asp-action="Details" asp-controller="Account" class="uk-button uk-button-primary">Mijn account</a>
                                <button type="submit" class="uk-button uk-button-default">Uitloggen</button>
                            </form>
                        </div>
                    }
                    else
                    {
                        <a asp-action="Login" asp-controller="Auth" class="uk-button uk-button-primary">Inloggen</a>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="uk-container">
    @if (TempData["Alert"] != null)
    {
        <div class="uk-alert uk-alert-danger bg-white/[0.4] uk-margin-bottom uk-position-bottom-center uk-position-fixed z-[1000] backdrop-blur-lg" uk-alert>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="lucide lucide-info">
                <circle cx="12" cy="12" r="10"/>
                <path d="M12 16v-4"/>
                <path d="M12 8h.01"/>
            </svg>
            <a href class="uk-alert-close" uk-close></a>
            <div class="uk-alert-title pe-7">@TempData["Alert"]</div>
            @if (TempData["AlertDescription"] != null)
            {
                <div class="uk-alert-description">@TempData["AlertDescription"]</div>
            }
        </div>
    }

    <main role="main" class="uk-margin-top">
        @RenderBody()
    </main>
</div>

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/franken-ui@1.1.0/dist/js/core.iife.js" type="module"></script>
<script src="https://unpkg.com/franken-ui@1.1.0/dist/js/icon.iife.js" type="module"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>